<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <!-- General -->
    <category label="32000">
        <setting id="general.theme" label="32001" type="labelenum" lvalues="32002|32003" default="32002" />
        <setting id="general.display_color" type="action" label="32005"
                 action="RunScript(service.a4kSkips,action=color_picker)"
                 default="[COLOR forestgreen]forestgreen[/COLOR]"/>
        <setting id="general.accent_color" label="32005" type="text" visible="false" default="forestgreen" />
        <setting id="general.use_a4ksubs" label="32004" type="bool" default="true" visible="System.HasAddon(service.subtitles.a4ksubtitles)" />
        <setting id="general.debug_log" label="Dedicated Log File" type="bool" default="false" />
        <setting id="general.debug_log_gap_detection" label="Log Gap Detection" type="bool" default="false" />
    </category>
</settings>
